.row-3-KWvY.margin-bottom-dB41Lp.svelte-10yh6ws {
    display: none;
}

.button-container-8cRhpK.svelte-10yh6ws {
    margin: 0 auto 2rem auto;
}

form.visible-BQhSi2.svelte-734qla {
    padding: 0rem 1rem !important;
}