.registro-container{
    padding-top: 1rem;
    background-image: url('../../Imagenes/ca.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.5rem 4rem 0 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-position: center;
}

.form-group-registro label{
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--colorSecundario);
}

.form-group-registro input{
    display: block;
    width: 22rem;
    height: 2.7rem;
    border: 2px solid var(--colorTerciario);
    padding: 0 0.5rem;
    font-weight: bold;
    color: var(--colorSecundario);
    font-size: 1.5rem;
}

.registro-container form{
    padding-top: 1rem;
}

.form-group-registro{
    display: flex;
    font-size: 1.5rem;
    color: var(--colorSecundario);
    flex-direction: column;
    margin: 0.5rem 0;
}

.botonRegistroContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.botonEnviarRegistro{
    border: none;
    width: 12rem;
    height: 3rem;
    color: white;
    font-size: 1.4rem;
    background-color: var(--colorRojo);
    border-radius: 4px;
    font-weight: 600;
}

.botonEnviarRegistro:active{
    scale: 0.95;
}

.botonEnviarRegistro:hover{
    background-color: var(--colorTerciario);
}

.botonRegistroContainer{
    padding-top: 1rem;
}

.botonRegistroContainer{
    margin-bottom: 2rem;
}

@media (max-width: 912px){
    .form-group-registro label{
        font-size: 2rem;
    }

    .form-group-registro input{
        height: 3.5rem;
        width: 100%;
        font-size: 2rem;
    }

    .formRegistro{
        width: 35rem;
    }

    .botonRegistroContainer button{
        width: 18rem;
        height: 3.5rem;
        font-size: 2rem;
    }

    .errorFormulario{
        font-size: 2.1rem;
    }
}

@media (max-width: 540px){
    .form-group-registro label{
        font-size: 2.6rem;
    }

    .form-group-registro input{
        height: 4.2rem;
        width: 40rem;
        font-size: 2.9rem;
    }

    .errorFormulario.errorRegistro{
        font-size: 2.6rem;
        padding: 2rem 0;
    }

    .botonRegistroContainer button{
        height: 5rem;
        width: 23rem;
        font-size: 2.6rem;
    }
}