.contenedorPrincipalConfirmacionCodigo{
    margin: 2rem;
    padding: 1rem;
}

.parteUtilizableConfirmacionCodigo{
    background-color: white;
    
}

.contenedorPrincipalConfirmacionCodigo p{
    font-size: 1.5rem;
}

.inputContainerCodigo{
    display: flex;
    justify-content: center;
}

.inputContainerCodigo input{
    height: 3rem;
    width: 15rem;
    font-size: 1.5rem;
}

.inputContainerCodigo input::placeholder{
    font-size: 1.5rem;
}

.botonContainerCodigo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.botonContainerCodigo button{
    margin: 1rem 1rem;
    font-size: 1.3rem;
}

.formConfirmacionCodigo h2{
    text-align: center;
    font-weight: 600;
}
