.contenedorPrincipalConfirmarCompra{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,50%);
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.parteUtilizableConfirmarCompra{
    width: 40%;
    height: 80%;
    background-color: white;
}