.contenedorPrincipalConfirmarCompra{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,50%);
    top: 0;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}