.contenedorPrincipalCarrito{
    position: fixed;
    z-index: 101; 
    max-height: 50rem;
    font-size: 1.5rem;
    right: 4rem;
    display: flex;
    align-items: end;
    flex-direction: column;
    overflow: hidden;
    right: 4.6rem;
    padding-right: 1rem;
    background-color: var(--colorPrimario);
}

.contenedorPrincipalCarrito .btn-primary{
    width: 5rem;
    height: 4rem;
    border: none;
    background-color: var(--colorCuaternario);
}

.contenedorPrincipalCarrito .btn-primary:hover{
    background-color: var(--colorTerciario);
    color: var(--colorRojo);
}

.form-group-agregadoRapido{
    font-weight: 600;
    max-width: 100%;
}

.form-group-agregadoRapido:focus{
    outline: none;
}

.valido{
    border: 2px solid green;
}

.invalido{
    border: 2px solid var(--colorRojo);
}

.sugerenciaColor {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    left: 0.2rem;
}

.textoSugerencia{
    padding-top: 1rem;
    position: relative;
}

.btn-primary .bg-danger{
    font-size: 1.5rem;
    background-color: var(--colorRojo) !important;
}

.elementosVisiblesCarrito{
    width: 40rem;
}

.textoCarritoVacio{
    font-size: 20px;
    text-align: center;
    background-color: #B83A3A ;
}

.bodyCarrito{
    height: 0;
    transition: height 0.3s;
}

.bodyCarrito.open{
    height: 30rem;
}

.agregadoRapido{
    display: flex;
    flex-direction: row;
}

.codigoAgregadorRapido{
    width: 35%;
}

.colorAgregadoRapido{
    width: 40%;
    position: relative;
}

.cantidadAgregadoRapido{
    width: 25%;
}

.total{
    background-color: orange;
    font-size: 20px;
}

.textoInput{
    width: 100%;
}

.tooltip{
    height: 20px;
}

.confirmarCarrito{
    top: 31rem;
    z-index: 200;
}

.contenedorBotonCarrito{
    display: flex;
    flex-direction: column;
}

.botonCarrito{
    background-color: var(--colorSecundario);
    border-radius: 2px;
    border: none;
    width: 3.5rem;
    height: 3.5rem;
    transition: background-color 0.1s, color 0.1s;
    margin-bottom: 0.2rem;
}

.cantidadEnCarrito{
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--colorSecundario);
    color: white;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 0.1rem;
    padding-top: 0.2rem;
}

.botonCarrito:hover{
    background-color: white;
}

.botonCarrito:hover .bi-cart2{
    fill: var(--colorSecundario);
}