.contenedorPrincipalCarrito{
    max-width: 400px;
    position: fixed;
    z-index: 100;
    left: 5rem;  
    top: 10rem;
    max-height: 50rem;
}

.contenedorPrincipalCarrito .btn-primary{
    width: 5rem;
    height: 4rem;
    border: none;
    background-color: var(--colorCuaternario);
}

.contenedorPrincipalCarrito .btn-primary:hover{
    background-color: var(--colorTerciario);
    color: var(--colorRojo);
}

.btn-primary .bg-danger{
    font-size: 1.5rem;
    background-color: var(--colorRojo) !important;
}

.textoCarritoVacio{
    font-size: 20px;
    text-align: center;
    background-color: #B83A3A ;
}

.total{
    background-color: orange;
    font-size: 20px;
}

.textoInput{
    width: 100%;
}

.tooltip{
    height: 20px;
}

.confirmarCarrito{
    top: 31rem;
    z-index: 200;
}

.contenedorBotonCarrito{
    display: flex;
}

.botonCarrito{
    background-color: var(--colorRojo);
    border-radius: 0px;
    border: none;
    width: 5rem;
    height: 4.5rem;
    border: 1px solid var(--colorTerciario);
    transition: background-color 0.1s, color 0.1s;
}

.cantidadEnCarrito{
    width: 2rem;
    height: 2rem;
    background-color: var(--colorSecundario);
    color: white;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 0.1rem;
    padding-top: 0.2rem;
}

.botonCarrito:hover{
    background-color: var(--colorCuaternario);
    color: var(--colorRojo);
}