.especificacionCortina.negro{
    background-color: black;
    color: white;
}

.especificacionCortina.blanco{
    border: 1px solid var(--colorSecundario);
    background-color: white;
}

.especificacionCortina.blanco:hover, .especificacionCortina.blanco.checked{
    color: var(--colorSecundario)
}

.especificacionCortina.beige{
    background-color: var(--Beige);
    color: black;
}

.especificacionCortina.beige, .especificacionCortina.beige.checked{
    color: black;
}

.especificacionCortina.gris, .especificacionCortina.gris.checked{
    color: var(--colorSecundario);
    background-color: var(--colorPrimario);
}

.especificacionCortina.gris, .especificacionCortina.beige, .especificacionCortina.negro, .especificacionCortina.blanco{
    width: 7rem;
    transition: scale 0.1s;
}

.especificacionCortina.negro.checked, .especificacionCortina.blanco.checked, .especificacionCortina.beige.checked, .especificacionCortina.gris.checked{
    transform: scale(0.9);
}

.shantungRosa{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/shantungRosa.jpg);
}

.shantungGris{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/shantungGris.jpg);
}

.parisBeige{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/parisBeige.jpg);
}

.parisCeleste{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/parisCeleste.jpg);
}

.parisGrisAgua{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/parisGrisAgua.jpg);
}

.parisVerdeClaro{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/parisVerdeClaro.jpg);
} 

.parisBlancoTrans{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/parisBlancoTrans.jpg);
}

.parisBlanco{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/parisBlanco.jpg);
}

.parisCrema{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/parisCrema.jpg);
}

.parisNaranja{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/parisNaranja.jpg);
}

.parisRojo{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/parisRojo.jpg);
}

.okiataNegroBeige{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/okiataNegroBeige.jpg);
}

.okiataBlanco{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/okiataBlanco.jpg);
}

.okiataNegro{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/okiataNegro.jpg);
}

.okiataBeige{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/okiataBeige.jpg);
}

.okiataBlancoBeige{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/okiataBlancoBeige.jpg);
}

.okiataBlancoGris{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/okiataBlancoGris.jpg);
}

.okiataNegroBronce{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/okiataNegroBronce.jpg);
}

.visionBlanco{
    background-image: url(https://ff28cd727c20ed16af0fe81472098b9292ab96a20b4b8710e3f1041-apidata.googleusercontent.com/download/storage/v1/b/backend-calvo-415917.appspot.com/o/coloresCortinas%2FvisionBlanco.jpg?jk=AWNiL9JG5yqzx-2THNgqh4W_AzRX3JZlY-35O3GYn_VApaZggYU5TGRb3sfhj5IeAPLebMQQUgR3vn-odXLZtx_60wOTj3Z0H1mTo7O6CSvtjgVeoHZfW9Vg0Z7zKMiXwGDmVWI3X7R6Y_FfkixT1HIPcnQpllu5JfkX_ubAAr5em19MkR9I0eV8D5pD5JdLuKvqJ1FqBt2qsFIKp-T_1-HLUlyKW2BVZreWjhPJ8nbhHVhw4gmgJo2xlqToh3UjkxHw4Yma5dppo2E6yXVmrtHNQw0xycuEo8Bkd6KaDJpVMUcztwMvvogz0zdEb9qrtPflzp07j9eOMi2j11xxCQh9AspPCxZlqzjlKOzzBH9RPVOghTMiAh12_uN09D5Wk86CYULi2ZXXM4bPaj_Bfc2bSVNI9L-atxozMZNmLLDPkpAqn48YIPt6afML9jSPaT8bHHdcrS-7DVOW2TXzfg-PYOWlU6rF1e1sxDtNufRxRHBcnsWzfKimL9D5UupilExl4ogWA6Qq1r-e1VNRuH84cP0Ev05o3K9eMcErVuOegBjlXKpkM6qWanyr6LKd99Iry8HWcp5v7HDjTeMcxBTj2uKDhOY0a8a-bjn0DCzQYt4sy3DVDnmUXBP0ssR7Vlkb8J7MO3ITc18ObA410-a08aADO9XtDRQk15GeSq2t2AYJgjNXKqGwOBaUFOkBulJ9v9Wd1D2jHpED5EIoLpfnrOJOW3HFFoiO-YSuSVO4g27H5QxqMbHQDEoOOTUuSLfIfjE8wi3huKRFCw95X90Hc6g-MvnoV-tsjEZjjsa8vTH_3vmPnNVv7j_omWMb3CFGubtLq5YAglE6ZBuk-m6HOpmoi3fhHyr1H7FMrs0D0XIjYkKgnKze2uHj-Mxjktj5InNCx1sq9f6VjRsNzJAl_PJC-clygZEZ-qcvZpyD2sg9utnIIU0Ty-LCrcxVNxgBbETax875UXrJHpgZdo0OPMy7dN8W9OTYQWz3UgWzjnXfzPPNGnJhwS32h4CL3_1KUxkbgLYFrWlTK3VLe5uWz5cHT_RTMyhAPv36CE4PyOvIKI78XbyaqaztZBCZMufocmkFYC6jD8aMHG-XufRoe2baz6MT_EbDa0FWEyGzpDIrw3EOGO6vSDWdD7ywmVqTjBxxTac5ukzxweUh&isca=1);
}

.visionNegro{
    background-image: url(https://ff9402ed6454a8b1e9a0952ccb073750a1ed49c99c27575101afc62-apidata.googleusercontent.com/download/storage/v1/b/backend-calvo-415917.appspot.com/o/coloresCortinas%2FvisionNegro.jpg?jk=AWNiL9L6_N27EEK8AW3vaUlb93IDTKNYfKtGmaaAn2iABXtIDRhwtQk2feLE5st8Ejru-G_vMu96nwxed7V-wTGiCZz0F9sHlblBX7EGwT6BHS43KU0dI_aTL117GwOqRDwZ2pv3qN83CVeZa5v8-Odu5JOtS8ZaWQZI7rlBYxQD9zTY_KpzAR-zILRXJwssNA-ySEl6gALRSgiz6R_EggSIU0tX0IssPbTT4u9H9WEnG0rtARw13VAQ2iJVnx-EmRdvG73l4GJwofvBz9889A-4Uo6Fhk5tLWAzIXqWhMm8J1KZG9GSym8xvYqj4X_hLr09hQSTJaWSpIk5_y3Eq9W0upW8Ie0ntTo2s6GSH-vBb3ryymufmGbet7Bk5DvSRF30b5f7oyn_R-tGRGbr_Ig95xcQ6bmeQFQCn6bd9RzlWJCLVVgEDzPivkDq74BjVIfArSXIEKrX1Ql3uunSxIwVTrq0RcaP5S7olG9IGgb9H-NtQqg_-X2XpxadOjJXO_H7JImBWGciPj9Da3Ghlt4tUSgJ4bN-5Mu9nE6OfnHj53tWpfLXGAgJlyBO9UcMreRffeDrwsOaL3fHGVOWUTjiYKKfTwlpC94A2mUoxwMPkcTaPfBKuH69tI-z9vZ4xv0yvvpeT5b4qcSs8eIs9BAuJZWkVsbfv7X-PkFRPWlS3ovhH1jGGHY6r5N0yxR5ZxzF2zYmkaJDfSJqzCW6QiPCEZSfywRC83IqeGYZu2zNUmRqxcJ4cquuF4Fn3Ulb3Q-c942HYx53tquAMrgnlGU0QtzerVKzLE6HbvkyqDQcIKUlT2mZjY8p4r3GpB6F78HDwe-QMNbsL78myNlXcRrgYuUWbKKg_gQiBzcasV7PGXUcQ-dmfVKHx4dZtx2_3JX9UFGe2BvblYXLREUNt-R0pR21U56bx8OHzMM974CSYhLEPkQXPMvW4biyOQ6yBEmcQbO40pe0MIvhQApmWZ8lwWZIGO2aS0vGtoyMMRcjXsp6Fc0NCSqhleZ6zn585l7qN7wEIC4m3plXIit216TTEmfEulz5S89zYfW9zNR_KMfYdLuk2Me4DyckweGMQ9jqrWdr09I_b1Mf-pcxVAhhi9Z1pPo8JR1mAVmgXSNCaBKi7JQiSgLAZzH0-riFuObNJ_c1DkO6bz15Tkw&isca=1);
}

.visionLila{
    background-image: url(https://ff92cd23afb44bce75e2111b61d4a804296dd5861e14db923b9be09-apidata.googleusercontent.com/download/storage/v1/b/backend-calvo-415917.appspot.com/o/coloresCortinas%2FvisionLila.jpg?jk=AWNiL9KVHYParOcEGkmSBpAW5rkLguEFa0WUXwQngZ14O2K58Hd-rCRZiKL3-lEw45IqqyhUmtk785En-EXUVhbMqbzUV8RPGb-N9iX9k-C6oyBCF7RwI2Y0XH2mObxoniMLUIKBjPCnmi6ITi_4clElFbJOEODjBwJT-Srmqb71CUDRz8eOTghN7yduhH7fjRJsMiJHfOwfh-QDYnI1uPn3m11u6lNw7KR7jwC7RAArpZKNVWnuQ7P_GLUf3LE14jVZY33AGBoIQuZsjBSBWte_cKzl-2vB24v-wKAWfLLEiSLV4KyLsn2GhvP6T6KvKaDrhZbGnCKuKFufq7EHtZjlETL1EiPeMFhZ7owTs_0pI_ogxGGaUYC2jO3sAISY-Y5d8I7bXt6T7DmsnsGFJIZZzUt0H5THAP7cuR6Mw8po78F14SNwAEkyRN8rLTnZmkmmlhPnOwLSBF475EGwGaw-d8SSY3A6ktZzjSvBcntagkOvOBJrIHCw5boCo9tsBj5mM2KVFCWJOiSQCXMcEN4AJa_tHpJmpYIYgw1AhYoFwnjPxKHWK89nZVfTi6-D9H4cNjONPHkL9CxyCz65FPoeZ9glFRHWLVIyfLaJjcrd8B2YMQzmo7PZfgpM1MX1dfW2bqy63bGha9DaMx4FUF3okP89SRio9ZCxgutnaBEqAYy4WzqQaILPbf0V0GhvF4DAaPBrBqT9Yrk4laV7zviEOrOxI-CTY-2GpJeiWqouBzebVFTKepZ0k-H8mIQFLzNJjzgjgLV4RvbiNTSSt6paJvAAn46DJ1O21rSmVjNnl2ckhYp3YV5uOMRqhKeqFDIkhxd2lJIb9-dVJ7ZB7Ky6elyqBiawBCG3ylEcQjMXGqMbVSMEJ1_gkZqo0CM6yrkmiT3PI5Etu0HHRMELak5p9D1imtWCjf65hOe3bDeaWp0B4sy1jmj7DerdIyu9grqlgrHeQbGmsi7Yn-0cH9NLWMEpnDjhOx2OsQYBcbpEC8Ms0dk-Z2ve035oujfKyRBvtalpSDtSW_-dCe6pw4vpjG8cQAzKEtcf_dWQrYThIiQzDlnMa8lGJVTK6NaJwuWMv07pjtOWApvqhtAxSA_XF-YN0kKVMp-nQe4QiiVTD3fC1EXRANQVgxsi6luZWAjmcs6GIr7TspKR&isca=1);
}

.blackoutNegro{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/blackoutNegro.jpg);
}

.blackoutBlanco{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/blackoutBlanco.jpg);
}

.blackoutBeige{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/blackoutBeige.jpg);
}

.blackoutGris{
    background-image: url(https://storage.googleapis.com/backend-calvo-415917.appspot.com/coloresCortinas/blackoutGris.jpg);
}

.accesorioBlanco{
    background-color: white;
}

.accesorioGris{
    background-color: #444b53;
}

.accesorioBeige{
    background-color: #eed7b8;
}

.columnasColores{
    display: flex;
    flex-direction: column !important;
}

.coloresArriba, .coloresMedio{
    margin-bottom: 1rem;
}