.contenedorPrincipalFooter{
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    width: 100%;
    
}

.redesSocialesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.redesSocialesContainer .bi{
    margin: 0 2rem;
    color: var(--colorSecundario);
    transition: color 0.3s;
}

.redesSocialesContainer .bi-facebook:hover{
    color: #1773ea;
}

.redesSocialesContainer .bi-instagram:hover{
    color: #f63b3e;
}

.infoContainer{
    background-color: var(--colorCuaternario);
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.infoContainer a{
    text-decoration: none;
}

.textoFooter{
    margin: 0;
}