.contenedorPrincipalFooter{
    font-size: 1.3rem;
    font-weight: 500;
    width: 100%;
    z-index: 2;
    position: relative;
}

.infoFooterContainer{
    background-color: var(--colorCuaternario);
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
}

.infoContainer a{
    text-decoration: none;
}

.infoFooterContainer p{
    margin: 0;
    width: 100%;
    text-align: center;
    padding-right: 2rem;
}

@media (max-width: 912px){
    .contenedorPrincipalFooter{
        font-size: 2rem;
        height: 7rem;
    }

    .infoFooterContainer{
        height: 7rem;
    }
}