.contenedorPrincipalCategorias{
    display: flex;
    justify-content: center;
    margin-bottom: 42rem;
}

.rowCategorias{
    height: 4rem;
    margin: 0 10%;
}

.categoria{
    padding: 0;
    display: flex;
    justify-content: center;
}

@media (width: 1600px) {
    .rowCategorias{
        margin: 0 15%;
    }
}

@media (max-width: 767px){
    .rowCategorias{
        margin: 0 8rem;
    }

    .categoria{
        margin: 1.4rem 0px;
    }

    .contenedorPrincipalCategorias{
        height: 105rem;
        margin-bottom: 0;
    }
}