.contenedorPrincipalCategorias{
    display: flex;
    justify-content: center;
    margin-bottom: 40rem;
}

.rowCategorias{
    height: 4rem;
    margin: 0 10%;
}

.categoria{
    padding: 0;
    display: flex;
    justify-content: center;
}