.colapsableEditarDatos{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 0;
    flex-direction: column;
    border: 1px solid black;
    overflow: hidden;
    transition: height 0.3s;
}

.colapsableEditarDatos.open{
    height: 26rem;
}

.parteFuncionalEditarDatos h2{
    font-size: 3rem;
}

.form-group-editarDatos{
    display: flex;
    justify-content: right;
    align-items: center;
}

.form-group-editarDatos input{
    height: 2.5rem;
    width: 20rem;
    margin: 1rem 1rem;
    font-size: 1.5rem;
}

.form-group-editarDatos label{
    font-size: 1.8rem;
}

.botonEditar{
    border: none;
    width: 3rem;
    height: 3rem;
}

.botonEditar:hover{
    transform: scale(1.1);
}

.errorEditarDatos{
    font-size: 1.5rem;
    color: var(--colorRojo);
    margin-bottom: 0.5rem;
}