.colapsableEditarDatos{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55rem;
    height: 0;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.3s;
}

.colapsableEditarDatos.open{
    height: 28rem;
}

.form-group-editarDatos{
    display: flex;
    justify-content: right;
    align-items: center;
}

.form-group-editarDatos input{
    height: 3.2rem;
    width: 28rem;
    margin: 1rem 1rem;
    font-size: 1.8rem;
    border: 1px solid var(--colorPrimario);
    border-radius: 4px;
    padding-left: 0.5rem;
}

.form-group-editarDatos label{
    font-size: 1.8rem;
    font-weight: 500;
}

.botonEditarDatosContainer{
    display: flex;
    justify-content: center;
}

.botonEnviarEdit{
    border: none;
    width: 12rem;
    height: 3rem;
    color: white;
    font-size: 1.5rem;
    background-color: var(--colorRojo);
    border-radius: 4px;
    font-weight: 600;
}