.login-container{
    display: flex;
    flex-direction: column;
    height: 20rem;
    background-image: url('../../Imagenes/ca.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 4rem;
    align-items: center;
}

.inputFormularioLogin{
    display: flex;
    font-size: 1.5rem;
    color: var(--colorSecundario);
    margin: 0.5rem 0;
    flex-direction: column;
    justify-content: center;
}

.inputFormularioLogin input{
    display: block;
    width: 22rem;
    height: 2.7rem;
    border: 2px solid var(--colorTerciario);
    padding: 0 0.5rem;
    font-weight: bold;
    color: var(--colorSecundario);
    font-size: 1.5rem;
}

.inputFormularioLogin label{
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--colorSecundario);
}

.botonEnviarLogin{
    border: none;
    width: 12rem;
    height: 3rem;
    color: white;
    font-size: 1.4rem;
    background-color: var(--colorRojo);
    border-radius: 4px;
    font-weight: 600;
}

.botonEnviarLogin:active{
    scale: 0.95;
}

.errorLogin{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    height: 2rem;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.botonEnviarLogin:hover{
    background-color: var(--colorTerciario);
}

.botonLoginContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

