.login-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 16.5rem;
    background-image: url('../../Imagenes/logoLoginYRegistro.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
}

.inputFormularioLogin{
    display: flex;
    justify-content: right;
    font-size: 1.5rem;
    padding-right: 2rem;
    color: var(--colorSecundario);
}

.inputFormularioLogin input{
    margin-left: 1rem;
    width: 65%;
    border: 1px solid var(--colorTerciario);
    border-radius: 0;
    height: 3rem;
    padding-left: 0.5rem;
}


.formularioLogin .inputFormularioLogin{
    margin: 1rem 0;
}

.botonEnviarLogin{
    width: 10rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    border: 1.5px solid var(--colorTerciario);
    height: 3rem;
    background-color: var(--colorPrimario);
    color: var(--colorSecundario);
    transition: color(0.3s);
}

.error-message{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    height: 2rem;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.botonEnviarLogin:hover{
    background-color: var(--colorTerciario);
}

.botonLoginContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

