.contenedorPrincipalCardProducto{
    margin-top: 15px; 
    box-shadow: 0 0 6px 1px gray;
    cursor: pointer;
    aspect-ratio: 3 / 2;
    padding: 1.6rem;
    background-color: var(--colorPrimario);
}

.contenedorCardProducto{
    border: 3px solid;
    border-image: linear-gradient(to bottom, var(--colorRojo), white);
    border-image-slice: 1;
}

.imagenContainerCardProducto{
    width: 100%;
    position: relative;
    display: flex;
    margin: 0px;
    align-items: center;
    justify-content: center;
    max-height: 48%;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
}

.imagenProducto{
    width: 80%;
}


.detalle{
    bottom: 37%;
    width: 100%;
}

.detalle h3{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 520;
}

.precioContainer{
    width: 100%;
    font-size: 2rem;
    float: right;
    margin-top: -1.2rem;
    display: flex;
    justify-content: center;
}

.precio{
    width: 9rem;
    background-color: var(--colorPrimario);
    z-index: 1;
    text-align: center;
    font-weight: 600;
    height: 2.7rem;
}

.cantidadCardProducto{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 12rem;
}

.cantidadCardProducto .boton{
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--colorTerciario);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.cantidadCardProducto .boton:hover{
    background-color: var(--colorTerciario);
}

.cantidadCardProducto span{
    font-size: 2rem;
    width: 2rem;
    text-align: center;
}

.codigo{
    font-weight: bold;
}

.contenedorPrincipalCardProducto:hover {
    transform: scale(1.05);
}

.cod_origContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    float: right;
    margin-top: -1.3rem;
}

.cod_orig{
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: -0.4rem;
    z-index: 1;
    background-color: var(--colorPrimario);
    color: var(--colorRojo);
    font-weight: 600;
}