.slide{
  display: flex;
  height: 58rem;
  z-index: 1;
  padding-top: 12rem;
  width: 75%;
}

.contenedorPrincipalCarrusel {
  display:flex;
  justify-content: center;
}

.carousel-control-prev,
.carousel-control-next {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  top: 56%;
  margin: 0 2.7rem;
  z-index: 2;
  background: var(--colorSecundario);
  opacity: 0.3;
}

.carousel-control-next{
  transform: scaleX(-1);
}

.carousel-control-next:hover{
  transform: scaleX(-1);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: black;
  opacity: 0.5;
}





