.slide{
  display: flex;
  height: 58rem;
  z-index: 1;
  padding-top: 12rem;
  width: 89.5%;
}

.container{
  display: flex;
  justify-content: center;
}

.contenedorPrincipalCarrusel {
  display:flex;
  justify-content: center;
}

.carousel-control-prev,
.carousel-control-next {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  top: 56%;
  margin: 0 2.7rem;
  z-index: 2;
  background: black;
  opacity: 0.4;
}

.carousel-control-prev:focus,
.carousel-control-next:focus {
  background: black;
  opacity: 0.4;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: black;
  opacity: 0.6;
}

@media (min-width: 1600px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1580px;
  }
}

@media (min-width: 1900px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1880px;
  }
}

@media (min-width: 2100px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 2080px;
  }
}

@media (min-width: 2400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 2380px;
  }
}

@media (min-width: 2700px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 2680px;
  }
}

@media (min-width: 3100px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 3180px;
  }
}

@media (min-width: 3400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 3380px;
  }
}

@media (min-width: 3840px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 3820px;
  }
}

@media (min-width: 4096px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 4076px;
  }
}



