.contenedorPrincipalFormulario{
    font-size: 1.22rem;
    font-weight: bold;
    color: var(--colorSecundario);
}

.inputContainer{
    height: 4.6rem;
}

.inputMensaje{
    height: 9.84rem;
}

.inputContainer input{
    display: block;
    width: 24rem;
    height: 52%;
    border: 2px solid var(--colorTerciario);
    padding: 0 0.5rem;
}

.texto_mensaje{
    width: 24rem;
    display: block;
    height: 7.57rem !important;
    border: 2px solid var(--colorTerciario);
    resize: none;
    padding: 0 0.5rem;
}

input::placeholder, textarea::placeholder {
    font-size: 1rem;
}

.comunicacion{
    padding-top: 1rem;
    
}