.contenedorPrincipalFormulario{
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--colorSecundario);
    padding: 2rem 0;
}

.inputContainer{
    height: 5.2rem;
}

.inputMensaje{
    height: 9.84rem;
}

.inputContainer input{
    display: block;
    width: 30rem;
    height: 52%;
    border: 2px solid var(--colorTerciario);
    padding: 0 0.5rem;
}

.texto_mensaje{
    width: 30rem;
    display: block;
    height: 7.57rem !important;
    border: 2px solid var(--colorTerciario);
    resize: none;
    padding: 0 0.5rem;
}

input::placeholder, textarea::placeholder {
    font-size: 1.2rem;
}

.comunicacion{
    padding-top: 0.5rem;
    width: 30rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.labelCheckbox{
    display: flex;
    margin-top: 0.5rem;
    padding-right: 10%;
    margin-bottom: 1.5rem;
    justify-content: space-evenly;
}

.label{
    display: flex;
}

.checkbox{
    width: 2rem;
}

.textoCheckbox{
    margin-right: 0.4rem;
    font-size: 1.3rem;
}

.enviarFormulario{
    width: 30rem;
    display: flex;
    justify-content: center;
    height: 3rem;
    border: 2px solid var(--colorTerciario);
    transition: transform 0.3s;
}

.enviarFormulario:hover{
    transform: scale(1.02);
    font-size: 1.04rem;
}

.enviarFormulario p{
    padding-top: 0.5rem;
    font-size: 1.05rem;
    font-weight: 700;
    color: var(--colorSecundario);
}

@media (max-width: 767px){
    .inputContainer input, .texto_mensaje, .enviarFormulario{
        width: 35rem;
    }

    .contenedorPrincipalFormulario{
        font-size: 2.5rem;
        padding: 2rem 0;
    }

    .comunicacion{
        width: 24rem;
        font-size: 1.4rem;
        font-weight: 600;
    }
    
    .inputContainer{
        margin-bottom: 2rem;
        height: 9rem;
    }

    input::placeholder, textarea::placeholder {
        font-size: 2.2rem;
    }

    .texto_mensaje{
        height: 20rem !important;
    }

    .inputMensaje{
        margin-bottom: 17rem;
    }

    .comunicacion{
        font-size: 2.5rem;
        display: flex;
        align-items: center;
    }

    .labelCheckbox{
        align-items: end;
        display: flex;
        flex-direction: column;
    }

    .textoCheckbox{
        font-size: 2.5rem;
    }

    .checkboxRowReverse{
        display: flex;
        flex-direction: row-reverse;
        margin: 1rem 0;
    }

    .textoComunicacion{
        margin-right: 7rem;
    }

    .enviarFormulario{
        height: 5rem;
        margin-top: 2rem;
    }

    .enviarFormulario p{
        font-size: 2.4rem;
    }
}