.contenedorPrincipalInfoYContacto{
    background-color: var(--cplorSecundario);
    padding-top: 40rem;  
}

.divInformacion{
    display: flex;
    justify-content: right;
    padding-right: 10%;
    padding-top: 10rem;
}

.divContacto{
    display: flex;
    justify-content: center;
}