.contenedorPrincipalCardFavoritos{
    background-color: white;
    width: 30rem;
    height: 13rem;
    border: 1px solid red;
    display: flex;
    align-items: center;
}

.botonQuitarFavoritoContainer{
    background-color: transparent;
}

.botonQuitarFavorito{
    fill: var(--colorRojo);
    border: none;
    background-color: transparent;
}

