.contenedorPrincipalFavoritos{
    max-width: 400px;
    position: fixed;
    z-index: 100;
    left: 13rem;
    top: 10rem;
    max-height: 50rem;
}

.contenedorBotonFavoritos{
    display: flex;
}

.botonFavoritos{
    background-color: var(--colorRojo);
    border-radius: 0px;
    border: none;
    width: 5rem;
    height: 4.5rem;
    transition: background-color 0.1s, color 0.1s;
    color: white;
}

.cantidadFavoritos{
    width: 2rem;
    height: 2rem;
    background-color: var(--colorSecundario);
    color: white;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 0.1rem;
    padding-top: 0.2rem;
}

.botonFavoritos:hover{
    background-color: var(--colorCuaternario);
}