.filtrosYBusqueda{
    width: 30%;
    position: sticky;
    display: flex;
    justify-content: center;
}

.productos{
    width: 70%;
    margin-left: 27%;
}

.contenedorPrincipalFiltrosYProductos{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}

.check{
    width: 15px;
    margin-top: -9px;
    margin-right: 20px;
}

.filtros{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 23rem;
}

.labelRubros, .labelSubrubros{
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.busqueda{
    width: 25%;
    position: fixed;
}

.paginacion{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagina-actual{
    border: 2px solid yellow;
}

.botonPaginacion{
    width: 50px;
}

.botonAntSig{
    width: 70px;
}

.button{
    margin: 20px 10px;
}

.boton{
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
}

.cantidad span{
    font-size: 2rem;
}

.primeraPagina{
    width: 3rem;
}