.filtrosYBusqueda{
    width: 30%;
    position: sticky;
    display: flex;
    justify-content: center;
}

.productos{
    width: 70%;
    padding-top: 50px;
}

.contenedorPrincipalFiltrosYProductos{
    display: flex;
}

.check{
    width: 15px;
    margin-top: -9px;
    margin-right: 20px;
}

.filtros{
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 65px;
}

.labelRubros, .labelSubrubros{
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.busqueda{
    width: 70%;
}