.contenedorPrincipalBody{
    z-index: 2;
    background-color: var(--colorPrimario);
    height: 702rem;
}

@media (max-width: 767px){
    .contenedorPrincipalBody{
        height: 702rem;
    }
    
}