.desplegableCatalogos {
    background-color: var(--colorSecundario);
    top: 8.1rem;
    z-index: 1000;
    position: fixed;
    width: calc(var(--widthCatalogos) - 2.7rem);
    border: none;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-in-out;
    transition-delay: 0s;
}

.desplegableCatalogos:hover,
.desplegableCatalogos.open {
    height: 13rem;
    transition-delay: 0.18s;
}

.descargarCatalogosContainer{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.descargarCatalogosContainer a {
    font-size: 2rem;
    color: white !important;
    font-weight: 650;
    text-align: center;
    cursor: pointer;
    margin: 0.3rem 0;
}

.descargarCatalogosContainer a:hover {
    color: var(--colorCuaternario) !important;
}

@media (max-width: 4096px){
    .desplegableCatalogos {
        right: calc(var(--rightAnchoPerfil) - 2.3rem);
    }
}

@media (max-width: 1600px){
    .desplegableCatalogos {
        right: calc(var(--rightAnchoPerfil) - 2.1rem);
    }
}

@media (max-width: 1440px){
    .desplegableCatalogos {
        right: calc(var(--rightAnchoPerfil) - 2.2rem);
    }
}

@media (max-width: 1366px){
    .desplegableCatalogos {
        right: calc(var(--rightAnchoPerfil) - 2.3rem);
    }
}