.contenedorPrincipalMisCompras{
    min-height: calc(100vh - 7rem);
    background-color: var(--colorSenario);
    display: flex;
    overflow: hidden;
}

.decoracionMisCompras{
    background-color: var(--colorTerciario);
}

.decoracionDosMisCompras{
    background-color: var(--colorPrimario);
}

.misComprasContainer{
    display: flex;
    flex-direction: row;
    padding-top: 12rem;
    justify-content: center;
    width: 100vw;
}

.misComprasContainer.mobile{
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.columnaImpar{
    padding-right: 7rem;
    padding-left: 1rem;
}

.columnaPar{
    padding-left: 7rem;
    padding-right: 1rem;
}

.columnaImpar, .columnaPar{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.misComprasContainer.mobile > .columnaImpar, .misComprasContainer.mobile > .columnaPar{
    padding: 0;
    width: 60rem;
}

.misComprasContainer.fold > .columnaImpar, .misComprasContainer.fold > .columnaPar{
    width: 90%;
}