.contenedorPrincipalBodyPerfil{
    width: 100%;
    min-height: calc(100vh - 3rem);
    padding-top: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorSenario);
}

.nombreYEmailContainer{
    width: 60rem;
    height: 8rem;
    padding: 0 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    z-index: 3;
    background-color: white;
    border-radius: 10px;
    color: var(--colorRojo);
    border: 0px solid var(--colorAzulOscuro);
}

.nombreYEmailContainer h1{
    font-weight: 600;
    text-align: center;
    font-size: 3rem;
}

.contenedorPrincipalEditar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55rem;
    margin: 0.5rem 0;
}

.headEditar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5.5rem;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--colorPrimario);
}

.botonCollapseEditarContainer{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonCollapseEditar{
    border: none;
    background-color: transparent;
}

.textoHeadEditar{
    cursor: pointer;
    background-color: var(--colorAzulOscuro);
    color: white;
    width: 100%;
    text-align: center;
}

.textoHeadEditar h1{
    font-size: 1.8rem;
}