.colapsableEditarEmail{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55rem;
    height: 0;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.3s;
}

.colapsableEditarEmail.open{
    height: 23rem;
}

.parteFuncionalEditarEmail h2{
    font-size: 3rem;
}

.form-group-editarEmail{
    display: flex;
    justify-content: right;
    align-items: center;
}

.form-group-editarEmail input{
    height: 3.2rem;
    width: 20rem;
    margin: 1rem 1rem;
    font-size: 1.8rem;
    border: 1px solid var(--colorPrimario);
    border-radius: 4px;
    padding-left: 0.5rem;
}

.form-group-editarEmail label{
    font-size: 1.8rem;
}

.botonEnviarNuevoEmail{
    border: none;
    width: 12rem;
    height: 3rem;
    color: white;
    font-size: 1.5rem;
    background-color: var(--colorRojo);
    border-radius: 4px;
    font-weight: 600;
}

.botonEnviarNuevoEmailContainer{
    display: flex;
    justify-content: center;
}