.contenedorPrincipalQuienesSomos{
    display: flex;
    align-items: top;
    justify-content: center;
    height: 50rem;
}

.fondoContainer{
    display: flex;
    width: 75%;
    height: 100%;
    flex-direction: column;
    background-color: white;
    align-items: left;
}

.logoQuienesSomosContainer{
    display: flex;
    justify-content: right;
    height: 58%;
    padding-right: 12%;
}

.logoQuienesSomos{
    height: 100%;
    left: 30%;
    object-fit: contain;
}

.imagenQuienesSomosContainer{
    height: 42%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: start;
}

.imagenQuienesSomos{
    height: 100%;
    width: 88%;
    object-fit: contain;
}

.tituloYPoligono h2{
    font-size: 1.7rem;
    padding-left: 0.8rem;
    font-weight: 600;
}

.textoQuienesSomos{
    width: 75%;
    z-index: 2;
    padding: 4% 13% 0 10%;
    position: absolute;
}

.parrafoQuienesSomos{
    padding-top: 2rem;
    padding-left: 2.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: justify;
    margin-bottom: 3.8%;
}

@media (max-width: 767px){
    .contenedorImagen{
        width: 85%;
    }

    .textoQuienesSomos{
        width: 90%;
    }
}


