.contenedorPrincipalQuienesSomos{
    display: flex;
    justify-content: center;
    height: 50rem;
}

.fondoContainer{
    display: flex;
    width: 75%;
    height: 100%;
    flex-direction: column;
    background-color: white;
}

.logoQuienesSomosContainer{
    display: flex;
    justify-content: right;
    height: 58%;
    padding-right: 12%;
}

.logoQuienesSomos{
    height: 100%;
    left: 30%;
    object-fit: contain;
}

.imagenQuienesSomosContainer{
    height: 42%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: start;
}

.imagenQuienesSomos{
    width: 88%;
    object-fit: contain;
}

.tituloYPoligono h2{
    font-size: 1.7rem;
    padding-left: 0.8rem;
    font-weight: 600;
}

.textoQuienesSomos{
    width: 75%;
    z-index: 2;
    padding: 4% 13% 0 10%;
    position: absolute;
}

.parrafoQuienesSomos{
    padding-top: 2rem;
    padding-left: 2.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: justify;
    margin-bottom: 3.8%;
}

@media (max-width: 767px){
    .logoQuienesSomosContainer{
        padding: 0;
    }

    .imagenQuienesSomos{
        width: 100%;
    }
}

@media (max-width: 540px){
    .imagenQuienesSomosContainer{
        display: flex;
        align-items: center;
    }
}

@media (max-width: 430px){
    .logoQuienesSomos{
        width: 90%;
    }

    .logoQuienesSomosContainer{
        height: auto;
    }

    .imagenQuienesSomosContainer{
        display: flex;
        align-items: end;
        padding-bottom: 3rem;
    }

    .fondoContainer{
        justify-content: space-between;
    }
}

@media (max-width: 280px){
    .contenedorPrincipalQuienesSomos{
        height: 57rem;
    }
}


