.desplegableConfiguracion {
    background-color: var(--colorSecundario);
    top: 8.7rem;
    z-index: 1000;
    position: fixed;
    /*width: calc(var(--widthConfiguracion) - 2.7rem); -----ARREGLAR-----*/ 
    width: 200px;
    border: none;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-in-out;
    transition-delay: 0s;
}

.desplegableConfiguracion:hover,
.desplegableConfiguracion.open {
    height: 13rem;
    transition-delay: 0.18s;
}

.configuracionContainer{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.configuracionContainer a {
    font-size: 2rem;
    color: white !important;
    font-weight: 650;
    text-align: center;
    cursor: pointer;
    margin: 0.3rem 0;
}

.configuracionContainer a:hover {
    color: var(--colorCuaternario) !important;
}

@media (max-width: 4096px){
    .desplegableConfiguracion {
        right: calc(var(--rightAnchoPerfil) - 2.3rem);
    }
}

@media (max-width: 1600px){
    .desplegableConfiguracion {
        right: calc(var(--rightAnchoPerfil) - 2.1rem);
    }
}

@media (max-width: 1440px){
    .desplegableConfiguracion {
        right: calc(var(--rightAnchoPerfil) - 2.2rem);
    }
}

@media (max-width: 1366px){
    .desplegableConfiguracion {
        right: calc(var(--rightAnchoPerfil) - 2.3rem);
    }
}