*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html{
  background-color: var(--colorPrimario);
}

:root{
  --colorPrimario: #f1f1f1;
  --colorSecundario: #4e4e4d;
}

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@media (max-width: 2020px) and (orientation: landscape){
  html{
    font-size: 12px;
  }
}

@media (max-width: 1600px) and (orientation: landscape){
  html{
    font-size: 10px;
  }
}

