.botonHeader {
    height: 8rem;
    width: 8rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
}

.containerBotonMobile {
    position: fixed;
    z-index: 400;
    top: 2rem;
    left: 2rem;
}

.containerContainerLogoMobile {
    width: 100%;
    position: absolute;
    top: 3rem;
}

.containerLogoMobile {
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerLogoMobile img {
    width: 55%;
}

.containerMenuMobile {
    position: absolute;
    z-index: 300;
    background-color: var(--colorSecundario);
    padding-top: 3rem;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5rem;
    position: fixed;
}

.containerElementosMenu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerLogoMenu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.containerLogoMenu img {
    width: 30%;
}

.elemento {
    background-color: white;
    margin: 1rem 0;
    width: 25rem;
    height: 4rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.elemento p {
    padding-top: 4.6%;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--colorSecundario);
}