.botonHeader {
    height: 8rem;
    width: 8rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    transition: 0.2s;
}

.botonHeader:active {
    transform: scale(0.8);
}

.containerBotonMobile {
    position: fixed;
    z-index: 400;
    top: 2rem;
    left: 2rem;
}

.containerContainerLogoMobile {
    width: 100%;
    position: absolute;
    top: 1rem;
    z-index: 3;
    height: 9rem;
}

.containerLogoMobile {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.containerLogoMobile img {
    width: 55%;
    object-fit: contain;
}

.containerMenuMobile {
    position: absolute;
    z-index: 300;
    height: 8rem;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    opacity: 1;
    visibility: visible;
}

.containerMenuMobile.menuAbierto {
    height: 20rem;
    opacity: 1;
    visibility: visible;
}

.containerMenuMobile:not(.menuAbierto) {
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5rem;
    position: fixed;
    background-color: var(--colorCuaternario);
}

.containerElementosMenu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerLogoMenu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.containerLogoMenu img {
    width: 30%;
    padding-top: 3rem;
}

.elemento {
    background-color: white;
    margin: 1rem 0;
    width: 26rem;
    height: 4rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.1s;
}

.elemento:active {
    transform: scale(0.95);
}

.elemento p {
    padding-top: 1%;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--colorSecundario);
}

.elemento.catalogos{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: left;
}

.elemento.catalogos.open{
    height: 18rem;
}

.elemento.catalogos:active{
    transform: scale(0.99);
}

.bodyElemento{
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bodyElemento p{
    background-color: var(--colorSecundario);
    color: white;
    width: 90%;
    height: 4rem;
    margin: 0.2rem 0;
    border-radius: 2px;
    text-align: center;
    transition: background-color 0.2s, color 0.2s;
}

.bodyElemento p:active{
    background-color: white;
    color: var(--colorSecundario);
}

.elemento.catalogos.open:has(.bodyElemento p:active) {
    transform: scale(1);
}

.elemento.catalogos.open > .bodyElemento{
    height: 10rem;
}

.textoCatalogosHeaderMobileContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textoCatalogosHeaderMobileContainer p{
    margin-right: 0.5rem;
    text-align: center;
    width: 100%;
}

.containerContainerLogoMobile.foldTienda{
    .containerLogoMobile{
        justify-content: left;
        padding-left: 2rem;
    }

    .containerLogoMobile img{
        width: 50%
    }
}