.secciones{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 65.8%;
}

.perfil{
    background-color: var(--colorSecundario);
    width: 23rem;
    height: 90%;
    margin: 0 -1.2rem;
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 2.7rem 100%);
    padding-left: 3.8rem;
}

.bi-person-fill{
    color: white;
}

.seccion{
    text-decoration: none;
    background-color: white;
    height: 90%;
    margin: 0 -1.1rem;
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, calc(100% - 2.7rem) 0, 100% 100%, 2.7rem 100%);
}

.seccion p{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: var(--colorSecundario);
    margin: 0 4.8rem;
}

.logoContainer{
    display: flex;
    justify-content: right;
    padding-right: 6rem;
}

.logo{
    width: 57%;
    object-fit: contain;
}

