.secciones {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 65.8%;
}

.iconoContainer{
    padding-left: 3.8rem;
}

.perfil {
    position: relative;
    background-color: var(--colorSecundario);
    width: 23rem;
    height: 90%;
    margin: 0 -1.2rem;
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 2.7rem 100%);
    overflow: hidden;
    cursor: pointer;
}

.perfil::before,
.perfil::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    transition: transform 0.3s;
    z-index: -1;
}

.perfil::before {
    transform: translateX(-100%); /* Modifica la transformaci贸n para cambiar a derecha a izquierda */
}

.perfil::after {
    transform: translateX(-200%); /* Modifica la transformaci贸n para cambiar a derecha a izquierda */
}

.perfil:hover::before {
    transform: translateX(0);
}

.bi-person-fill {
    color: white;
    transition: color 0.3s;
}

.perfil:hover .bi-person-fill {
    color: var(--colorSecundario);
    z-index: 1;
}

.seccion {
    position: relative;
    text-decoration: none;
    background: white;
    height: 90%;
    margin: 0 -1.1rem;
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, calc(100% - 2.7rem) 0, 100% 100%, 2.7rem 100%);
    overflow: hidden;
}

.seccion::before,
.seccion::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--colorSecundario);
    transition: transform 0.3s;
    z-index: -1;
}

.seccion::before {
    transform: translateX(-100%); /* Modifica la transformaci贸n para cambiar a derecha a izquierda */
}

.seccion::after {
    transform: translateX(-200%); /* Modifica la transformaci贸n para cambiar a derecha a izquierda */
}

.seccion:hover::before {
    transform: translateX(0);
}

.seccion p {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: var(--colorSecundario);
    margin: 0 4.8rem;
    transition: color 0.3s;
}

.seccion:hover p {
    color: white;
    z-index: 1;
}

.logoContainer {
    display: flex;
    justify-content: right;
    padding-right: 6rem;
}

.logo {
    width: 57%;
    object-fit: contain;
    cursor: pointer;
}
