.contenedorPrincipalHeader{
    background-color: var(--colorPrimario);
    margin-top: 5.5rem;
}

.fila{

}

.secciones{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 61%;
}

.seccion{
    font-family: rajdhani;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    color: var(--colorSecundario);
    background-color: white;
    height: 100%;
    text-align: center;
    margin: 0 0.2rem;
    line-height: 2;
    clip-path: polygon(0 0, 87% 0, 100% 100%, 13% 100%);
    /* debe tener 118º*/
    /*68% del width con respecto al height*/
    /*utilizar rem*/
}


.logoContainer{
    display: flex;
    justify-content: right;
}

.logo{
    width: 55%;

}

.perfil{

}

.logoPerfil{

}

