.colapsableEditarDireccion{
    background-color: white;
    width: 55rem;
    height: 0;
    display: flex;
    align-items: space-between;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.3s;
}

.colapsableEditarDireccion.open{
    height: 27rem;
}

.formularioAgregarDireccion{
    width: 100%;
}

.botonEnviarDireccion{
    border: none;
    width: 100%;
    height: 3rem;
    color: white;
    font-size: 1.5rem;
    background-color: var(--colorRojo);
    border-radius: 4px;
    font-weight: 600;
}