.colapsableEditarDireccion{
    width: 55rem;
}

.form-group-direcciones{
    width: 100%;
    display: flex;
    font-size: 1.6rem;
    margin: 1rem 0;
}

.form-group-direcciones input{
    height: 3.2rem;
    margin-left: 1rem;
    font-size: 1.8rem;
    border: 1px solid var(--colorPrimario);
    border-radius: 4px;
    padding-left: 0.5rem;
}

.form-group-direcciones label{
    font-size: 1.8rem;
    font-weight: 500;
}

.direccionCalleInput{
    width: 12rem;
}

.direccionNumeroInput{
    width: 5rem;
}

.calleYNumero{
    display: flex;
    flex-direction: row;
}

.direccionCpInput{
    width: 5rem;
}

.direccionCiudadInput{
    width: 13rem;
}

.cpYLocalidad{
    display: flex;
    flex-direction: row;
}

.botonEnviarDireccion{
    border: none;
    width: 12rem;
    height: 3rem;
    color: white;
    font-size: 1.5rem;
    background-color: var(--colorRojo);
    border-radius: 4px;
    font-weight: 600;
}

.botonEnviarDireccion:hover{
    transform: scale(1.1);
}