.form-group-direcciones{
    width: 100%;
    display: flex;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.form-group-direcciones input{
    height: 3.2rem;
    margin-left: 1rem;
    font-size: 1.8rem;
    border: 1px solid var(--colorPrimario);
    border-radius: 4px;
    padding-left: 0.5rem;
}

.form-group-direcciones label{
    font-size: 1.8rem;
    font-weight: 500;
}

.direccionCalleInput{
    width: 20rem;
    margin-right: 1.5rem;
}

.direccionNumeroInput{
    width: 6rem;
}

.calleYNumero{
    display: flex;
    flex-direction: row;
}

.direccionCpInput{
    width: 6rem;
    margin-right: 1rem;
}

.direccionLocalidadInput{
    width: 18rem;
}

.cpYLocalidad{
    display: flex;
    flex-direction: row;
}

.direccionProvinciaInput{
    width: 30rem;
}

.errorEditarDireccion{
    margin: 1rem 0;
}